/* header CSS */
header {
	-webkit-transition: all 0.4s ease-In-out;
	-moz-transition: all 0.4s ease-In-out;
	-o-transition: all 0.4s ease-In-out;
	transition: all 0.4s ease-In-out;
	background-color: #000;
	padding: 10px 0;
}
.main-header {
	
}
.logo {
	display: inline-block;

	img {
		display: block;
	}
}

/* Menu Css */
.menu {
	font-size: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 34px;
	
	li {
		a {
			font-size: 20px;
			color: #fff;
			line-height: 1.2;
			font-weight: 600;
			letter-spacing: -0.05em;

			&:hover {
				color: $themeColor;
			}
		}

		&.current_page_item, &.current-menu-item {
			a {
				color: $themeColor;
			}
		}
	}
}

/* Hamburger Menu */
.menu-Bar {
	width: 30px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0px;
	margin: auto;
	z-index: 22;
	display: none;
	span {
		display: block;
		height: 4px;
		width: 100%;
		background: $themeColor;
		position: absolute;
		transition: 0.6s all;
		border-radius: 100px;

		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2) {
			top: 8px;
			transform-origin: left;
		}
		&:nth-child(3) {
			top: 16px;
		}
	}

	&.open span {
		background: #fff;

		&:nth-child(1) {
			transform: rotate(45deg);
			top: 12px;
			transform-origin: right-center;
		}
		&:nth-child(2) {
			width: 0;
			opacity: 0;
		}
		&:nth-child(3) {
			transform: rotate(-45deg);
			top: 12px;
			transform-origin: right-center;
		}
	}
}